.characters-list {
    text-align: left;
}

.characters-list__character:not(:last-child) {
    margin-bottom: 5px;
}

.characters-list__character--name {
    display: block;
    width: 50%;
    float: left;
}

.characters-list__character--selection {
    display: block;
    width: 50%;
    float: left;
    text-align: right;
}